body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 25px;
  margin-bottom: 40px;
}

p {
  margin: 30px;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
}

footer {
  padding-top: 10px;
  position: absolute;
  z-index: 999;
  width: 200%;
  height: 400px;
  font-size: 15px;
  background-repeat: "no-repeat";
  padding-left: 50px;
}
